
.homePAge{
    
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
  
  
  }
  
  .cardContact{
    text-align: center;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
  }

  .new {
    text-align: center;
  
  }

  li {display: inline-block;}


.no-bullets {
  list-style-type: none;
  background-color: rgb(124, 0, 112);
  padding: 20px;
}
.links{
  padding-left: 10px;
  padding-right: 10px;
}


.links:hover{
  background-color: rgba(7, 245, 165, 0.202);
  border-radius:  10%;
  padding:10px;
  }