
.homePAge{
    
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
  
  
  }
  
  .cardContact{
    text-align: center;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
  }

  .new {
    text-align: center;
  
  }